@import '../../styles/theme-colors.scss';

.progress-bar {
  background-color: $header-dark;
  max-width: 1000px;
  height: 50px;
  border-radius: 12px;
  flex: 1;

  .remaining {
    background-color: $timer-green;
    height: 100%;
    border-radius: 12px;
    float: right;
  }
}
