$header-dark: #191b1f;
$body-color: #212429;
$header-grey: #2c2f36;
$timer-green: #42b780;
$dark-red: #af0c15;
$light-red: #d2292d;
$dark-blue: #0d3580;
$light-blue: #1761b0;
$draw-yellow: #f9af27c0;
