@import '../../styles/theme-colors.scss';

.timerContainer {
  color: white;
  margin-bottom: 2%;

  .timerHeader {
    font-size: 24px;
    font-weight: bold;
  }

  .timerValue {
    font-size: 36px;
    font-weight: bold;
  }

  .processRoundButton {
    width: 200px;
    height: 100px;
    border-radius: 15px;
    color: $header-dark;
    background-color: $draw-yellow;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    border: 2px solid transparent;

    &:hover {
      border-color: white;
    }
  }
}
