@import '../../../styles/theme-colors.scss';

.option {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5%;
  border-radius: 12px;
  overflow: hidden;

  &.red {
    background-color: $dark-red;
  }

  &.blue {
    background-color: $dark-blue;
  }

  .imageContainer {
    width: 100%;
    cursor: pointer;
    border-radius: 12px;
    padding: 5px;
    border: 2px solid transparent;

    &:hover {
      border-color: white;
    }

    .rpsImage {
      width: 100%;
    }
  }

  .optionPercentage {
    padding-top: 2px;
    text-align: center;
    color: white;
    font-weight: bold;
    font-size: 2vmin;
  }

  .voteCount {
    padding-top: 2px;
    text-align: center;
    color: white;
    font-weight: bold;
    font-size: 2vmin;
  }
}
