@import '../../styles/theme-colors.scss';

.header {
  height: 70px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 25px;
  background-color: $header-dark;

  .app-name {
    color: white;
    padding-left: 2%;
    font-weight: 500;
  }
}
