@import '../../styles/theme-colors.scss';

.homepage {
  height: 100vh;
  background-color: $body-color;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  .header-container {
    display: inline-block;
  }

  .bar {
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
  }

  .ballots {
    margin-top: 5%;
    width: 100%;
    display: flex;
    justify-content: center;
    column-gap: 10%;
  }
}
